  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight:900;
  /* font-family: Arial, sans-serif; */
  /* background-color: #f2f2f2; */
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.6;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation Bar */
nav {
  background-color: #333;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

/* Main Container Styles */
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

aside {
  background-color: #f4f4f4;
  padding: 20px;
}

aside h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

aside ul {
  list-style-type: none;
}

aside li {
  margin-bottom: 10px;
}

/* Main Content Styles */
main {
  padding: 20px;
}

.product-details h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.product-details p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Footer Styles */
footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
}
